<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llq.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.llq.pojo.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="invitation" jdbcType="VARCHAR" property="invitation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tel, `password`, email, invitation
  </sql>
</mapper>